# Composer dependencies
/vendor/

# Environment variables
.env

# Log files
/logs/*.log

# IDE/OS specific
.idea/
.vscode/
.DS_Store

#User Uploaded Data
/public/uploads/avatars/*
/storage/avatars/*
/storage/alliance_avatars/*